*.classpath
*.project
*.prefs
target/classes/autowire/autowire.xml
*.class
target/classes/com/spring/resource/test/test/testClasspathResourceByClass.xml
target/classes/com/spring/resource/test/testByClassLoader.xml
target/classes/com/spring/resource/test/testClasspathResourceByClass.xml
target/classes/conf/contextConf.xml
target/classes/context1.xml
target/classes/context.xml
target/classes/dependentBean.xml
target/classes/helloworldAop.xml
target/classes/helloworldAopAspect.xml
src/main/resources/testByDefaultClassLoader.xml
*.LIST
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.wangcanpei/springTest/pom.properties
target/classes/helloworldAopRef.xml
target/classes/lookupMethodInject.xml
target/classes/methodReplacerInject.xml
target/classes/navigationBeanInject.xml
target/classes/testByClassLoader.xml
target/classes/META-INF/maven/com.wangcanpei/springTest/pom.xml
target/classes/testByDefaultClassLoader.xml